/*
*= require_tree .
*= require_self
*/

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: black;
    /* background-repeat: no-repeat;  */
}

canvas {
    border: 1px solid white;
    background-image: url("images/background.png"); 
    display: block; 
    margin: 100px; 
    background-size: cover; 
}
