/*
*= require_tree .
*= require_self
*/

* {
    padding: 0;
    margin: 0;
}

img {
    display: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-image: url("images/giphy.gif")
    /* background-repeat: no-repeat;  */
}

.start {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
    background: "rgba (0, 0, 0)";
}

canvas {
    border: 2px solid white;
    background-image: url("images/background.png"); 
    display: block; 
    margin: 0px 100px 40px 100px; 
    /* margin-top: 0px;
    margin-right: 200px;  */
    background-size: cover; 
}

.typing-box {
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    border: 1px solid white;
    background-image: url("images/background.png");
    background-position: 50% 25%; 
    color: white;
    position: relative;
    bottom: 100px;
    left: 150px; 
    width: 250px;
    height: 30px; 
}

.typing-box:focus {
    border: 3px solid white; 
}

@font-face {
    font-family: myFont;
    src: url(images/PolandCannedIntoFuture.ttf);
}

.title { 
    font-size: 54px;
    margin: 35px 0px 35px 0px;
    color: white;
    font-family: myFont;
}
